In [95]:
import pandas as pd
import numpy as np
df = pd.read_csv("customer-churn.csv")
# def introduce_nan(x,percentage):
#     n = int(len(x)*(percentage - x.isna().mean()))
#     idxs = np.random.choice(len(x), max(n,0), replace=False, p=x.notna()/x.notna().sum())
#     x.iloc[idxs] = np.nan
# df.apply(introduce_nan, percentage=.1)
df.loc[df.sample(frac=0.1).index, "Age"] = np.nan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Call  Failure            3150 non-null   int64
 1   Complains                3150 non-null   int64
 2   Subscription  Length     3150 non-null   int64
 3   Charge  Amount           3150 non-null   int64
 4   Seconds of Use           3150 non-null   int64
 5   Frequency of use         3150 non-null   int64
 6   Frequency of SMS         3150 non-null   int64
 7   Distinct Called Numbers  3150 non-null   int64
 8   Age Group                3150 non-null   int64
 9   Tariff Plan              3150 non-null   int64
 10  Status                   3150 non-null   int64
 11  Age                      2835 non-null   float64
 12  Customer Value           3150 non-null   float64
 13  FN                       3150 non-null   float64
 14  FP                       3150 non-null   float64
 15  Churn                    3150 non-null   int64
dtypes: float64(4), int64(12)
memory usage: 393.9 KB

In [96]:
# Separate the null values from dataframe (df) and create a variable “test data”
test_data = df[df['Age'].isnull()]

# Drop the null values from the dataframe (df) and represent as ‘train data”
df.dropna(inplace=True)

In [97]:
df

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,FN,FP,Churn
1,0,0,39,0,318,5,7,4,2,1,2,25.0,46.035,41.4315,60.0000,0
2,10,0,37,0,2453,60,359,24,3,1,1,30.0,1536.520,1382.8680,203.6520,0
3,10,0,38,0,4198,66,1,35,1,1,1,15.0,240.020,216.0180,74.0020,0
4,3,0,38,0,2393,58,2,33,1,1,1,15.0,145.805,131.2245,64.5805,0
5,11,0,38,1,3775,82,32,28,3,1,1,30.0,282.280,254.0520,78.2280,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143,7,0,27,1,3530,67,15,25,3,1,1,30.0,203.880,183.4920,70.3880,0
3144,7,0,20,1,2000,32,35,16,3,1,1,30.0,221.280,199.1520,72.1280,0
3147,13,0,18,4,3157,51,38,21,3,1,1,30.0,280.320,252.2880,78.0320,0
3148,7,0,11,2,4695,46,222,12,3,1,1,30.0,1077.640,969.8760,157.7640,0
3149,8,1,11,2,1792,25,7,9,3,1,1,30.0,100.680,90.6120,60.0680,1

In [98]:
# Create “x_train” & “y_train” from train data.
x_train = df.drop(['Age'], axis=1)
x_train

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Customer Value,FN,FP,Churn
1,0,0,39,0,318,5,7,4,2,1,2,46.035,41.4315,60.0000,0
2,10,0,37,0,2453,60,359,24,3,1,1,1536.520,1382.8680,203.6520,0
3,10,0,38,0,4198,66,1,35,1,1,1,240.020,216.0180,74.0020,0
4,3,0,38,0,2393,58,2,33,1,1,1,145.805,131.2245,64.5805,0
5,11,0,38,1,3775,82,32,28,3,1,1,282.280,254.0520,78.2280,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143,7,0,27,1,3530,67,15,25,3,1,1,203.880,183.4920,70.3880,0
3144,7,0,20,1,2000,32,35,16,3,1,1,221.280,199.1520,72.1280,0
3147,13,0,18,4,3157,51,38,21,3,1,1,280.320,252.2880,78.0320,0
3148,7,0,11,2,4695,46,222,12,3,1,1,1077.640,969.8760,157.7640,0
3149,8,1,11,2,1792,25,7,9,3,1,1,100.680,90.6120,60.0680,1

In [99]:
y_train = df['Age']
y_train

1       25.0
2       30.0
3       15.0
4       15.0
5       30.0
        ...
3143    30.0
3144    30.0
3147    30.0
3148    30.0
3149    30.0
Name: Age, Length: 2835, dtype: float64

In [100]:
# Build the linear regression model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

x_test = test_data[['Call  Failure','Complains','Subscription  Length','Charge  Amount','Seconds of Use','Frequency of use','Frequency of SMS','Distinct Called Numbers','Age Group','Tariff Plan','Status','Customer Value','FN','FP','Churn']]

In [101]:
# Apply the model on x_test of test data to make predictions.
y_pred = lr.predict(x_test)

# Replace the missing values with predicted values.
test_data['Age'] = y_pred

/var/folders/rj/1mg6vxjn797466cqm4nhw0vm0000gn/T/ipykernel_17991/1780613927.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Age'] = y_pred

In [102]:
test_data

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,FN,FP,Churn
0,8,0,38,0,4370,71,5,17,3,1,1,32.090944,197.640,177.8760,69.7640,0
14,9,0,37,0,15485,182,150,30,2,1,1,22.107089,1380.015,1242.0135,188.0015,0
15,3,0,37,1,6500,86,186,26,3,1,1,32.032220,1007.440,906.6960,150.7440,0
17,2,0,38,0,710,14,13,8,3,1,2,31.987727,80.960,72.8640,60.0000,0
18,0,0,37,0,0,0,0,0,2,1,2,25.373964,0.000,0.0000,60.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,5,1,38,0,933,13,16,6,4,1,2,41.183594,63.650,57.2850,60.0000,1
3135,7,0,38,1,4023,88,9,30,3,1,1,32.318332,200.440,180.3960,70.0440,0
3140,16,0,29,0,1005,31,17,9,3,1,2,31.269171,109.440,98.4960,60.9440,0
3145,21,0,19,2,6697,147,92,44,2,2,1,24.466514,721.980,649.7820,122.1980,0
3146,17,0,17,1,9237,177,80,42,5,1,1,53.665621,261.210,235.0890,76.1210,0

In [104]:
actual = pd.read_csv("customer-churn.csv")
final = actual[actual.index.isin(test_data.index)]
comp = final['Age'].sub(test_data['Age'])
comp

0      -2.090944
14      2.892911
15     -2.032220
17     -1.987727
18     -0.373964
          ...
3131    3.816406
3135   -2.318332
3140   -1.269171
3145    0.533486
3146    1.334379
Name: Age, Length: 315, dtype: float64

In [110]:
comp.abs().mean()

1.9608246541267362

In [114]:
n = comp.size
(comp**2).sum()/n

4.765048629948435